<div class="content-heading">
    List Of Orders We Can Delivery
</div>
<div class="table-responsive b0">
   <table id="datatable1" class="table table-striped table-hover">
      <thead>
         <tr>
            <th style="width:80px">
               <strong>Client</strong>
            </th>
            <th>
               <strong>Product</strong>
            </th>
            <th>
               <strong>Quantity</strong>
            </th>
            <th>
               <strong>Price</strong>
            </th>
            <th>
               <strong>Purchased On</strong>
            </th>
            <th class="text-center">
               <strong>Belongs To Order</strong>
            </th>
            <th class="text-center">
               <strong>Action</strong>
            </th>
         </tr>
      </thead>
      <tbody>
          <% @order_items_can_delivery.each_with_index do |order_item, index| %>
            <tr>
              <td>
                <%= link_to "#{order_item.order.customer.first_name} #{order_item.order.customer.last_name}", controller: "customers", action: "edit", id: order_item.order.customer.id %>
              </td>
              <td>
                <%= link_to "#{order_item.product.name}", controller: "products", action: "show", id: order_item.product.id %>
              </td>
               <td><%= order_item.quantity %></td>
               <td><%= order_item.price %></td>
               <td><%= order_item.order.date %></td>
               <td class="text-center">
                  <%= link_to "##{order_item.order.code}", controller: "orders", action: "show", id: order_item.order.id %>
               </td>
               <td class="text-center">
                  <%= link_to 'Deliveried', controller: "deliveries", action: "delivery", id: order_item.id %>
               </td>
            </tr>
          <% end %>
      </tbody>
   </table>
</div>

<div class="panel b">
  <div class="panel-heading">
    <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#acc1collapse4">Waiting Orders</a>
    </h4>
  </div>
  <div id="acc1collapse4" class="panel-collapse">
    <div id="collapse04" class="panel-body">
      <table class="table">
          <thead class="bg-gray-lighter">
             <tr>
               <th>
                  <strong>Client</strong>
               </th>
               <th>
                  <strong>Product</strong>
               </th>
               <th>
                  <strong>Quantity</strong>
               </th>
               <th>
                  <strong>Price</strong>
               </th>
               <th>
                  <strong>Purchased On</strong>
               </th>
               <th class="text-center">
                  <strong>Belongs To Order</strong>
               </th>
             </tr>
          </thead>
          <tbody>
            <% @order_items.each_with_index do |order_item, index| %>
              <tr>
                  <td>
                    <%= link_to "#{order_item.order.customer.first_name} #{order_item.order.customer.last_name}", controller: "customers", action: "edit", id: order_item.order.customer.id %>
                  </td>
                  <td>
                    <%= link_to "#{order_item.product.name}", controller: "products", action: "show", id: order_item.product.id %>
                  </td>
                  <td><%= order_item.quantity %></td>
                  <td><%= order_item.price %></td>
                  <td><%= order_item.order.date %></td>
                  <td class="text-center">
                    <%= link_to "##{order_item.order.code}", controller: "orders", action: "show", id: order_item.order.id %>
                  </td>
              </tr>
            <% end %>
          </tbody>
      </table>
    </div>
  </div>
</div>
