<% if @products.empty? %>
    <p>You haven't created any new product, Please Add At Least One Product To System</p>
    <%= link_to '<em class="fa fa-plus-circle fa-fw mr-sm"></em> Add New Product <br>'.html_safe, products_new_path, :class => "btn btn-primary pull-center" %>
<% else %>
  <div class="row">
      <form method="post" action="create" novalidate="novalidate">
       <div class="">
          <div class="container-xl">
             <!-- Checkout Process-->
                <div id="" class="panel-group">
                   <div class="panel b">
                      <div class="panel-heading">
                         <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#acc1collapse6">Please Select The Product</a>
                         </h4>
                      </div>
                      <div id="" class="panel-collapse collapse in">
                         <div id="" class="panel-body">
                            <div class="table-responsive">
                               <table class="table">
                                  <colgroup>
                                     <col span="1" class="order-qty" />
                                     <col span="1" class="order-qty" />
                                     <col span="1" class="order-total" />
                                  </colgroup>
                                  <thead class="bg-gray-lighter">
                                     <tr>
                                        <th class="wd-xl">Product Name</th>
                                        <th class="wd-xl">Quantity</th>
                                        <th class="wd-xl">Price Of Product</th>
                                        <th></th>
                                     </tr>
                                  </thead>
                                  <tbody class="input_fields_wrap">
                                    <tr>
                                        <td class="order-item-content">
                                          <select id="products_list" class="form-control wd-xl" name="product_id" >
                                            <% @products.each do |product| %>
                                               <option class="form-control" value="<%= product.id %>"><%= product.name %></option>
                                            <% end %>
                                          </select>
                                        </td>
                                        <td class="order-item-content">
                                          <input type="number" name="quantity_of_the_product" value="1" min="1" step="1" class="form-control" />
                                        </td>
                                        <td class="order-item-content">
                                          <input type="number" name="price_of_the_product" value="1" min="1" step="1" class="form-control" />
                                        </td>
                                    </tr>
                                  </tbody>
                               </table>
                            </div>
                            <div class="mt-lg">
                               <button id =submit type="submit" class="btn btn-info">Create The Import</button>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
          </div>
       </div>
      </form>

      <div class="panel b">
        <div class="panel-heading">
          <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#acc1collapse4">Product Need To Import</a>
          </h4>
        </div>
        <div id="acc1collapse4" class="panel-collapse">
          <div id="collapse04" class="panel-body">
            <table class="table">
                <thead class="bg-gray-lighter">
                  <th>
                     <strong>Product</strong>
                  </th>
                  <th>
                     <strong>Quantity</strong>
                  </th>
                  <th class="text-center">
                     <strong>Waiting</strong>
                  </th>
                </thead>
                <tbody>
                  <% @remote_repositories.each_with_index do |repository, index| %>
                    <% if repository.waiting > repository.quantity %>
                      <tr>
                        <td><%= repository.product.name %></td>
                        <td><%= repository.quantity %></td>
                        <td class="text-center">
                           <span class="label label-danger"><%= repository.waiting %></span>
                        </td>
                      </tr>
                    <% end %>
                  <% end %>
                </tbody>
            </table>
          </div>
        </div>
      </div>
  </div>

  <div class="row">

  </div>

<% end %>
