<div class="content-heading">
    Customer Pays
</div>
<div class="table-responsive b0">
  <table class="table">
      <thead class="bg-gray-lighter">
         <tr>
           <th>
              <strong>Client</strong>
           </th>
           <th>
              <strong>Product</strong>
           </th>
           <th>
              <strong>Quantity</strong>
           </th>
           <th>
              <strong>Price</strong>
           </th>
           <th>
              <strong>Purchased On</strong>
           </th>
           <th class="text-center">
              <strong>Belongs To Order</strong>
           </th>
           <th class="text-center">
              <strong>Actions</strong>
           </th>
         </tr>
      </thead>
      <tbody>
        <% @order_items.each_with_index do |order_item, index| %>
          <tr>
              <td>
                <%= link_to "#{order_item.order.customer.first_name} #{order_item.order.customer.last_name}", controller: "customers", action: "edit", id: order_item.order.customer.id %>
              </td>
              <td>
                <%= link_to "#{order_item.product.name}", controller: "products", action: "show", id: order_item.product.id %>
              </td>
              <td><%= order_item.quantity %></td>
              <td><%= order_item.price %></td>
              <td><%= order_item.order.date %></td>
              <td class="text-center">
                <%= link_to "##{order_item.order.code}", controller: "orders", action: "show", id: order_item.order.id %>
              </td>
              <td class="text-center">
                <button id="<%= "swal_pay_#{index}" %>" type="button" class="btn btn-sm btn-success">
                           <em class="fa fa-check"></em>
                </button>
              </td>
          </tr>
        <% end %>
      </tbody>
  </table>
</div>
