<div class="content-heading">
    Customer Pays
</div>
<div class="table-responsive b0">
  <table class="table">
      <thead class="bg-gray-lighter">
         <tr>
           <th style="width:80px">
              <strong>Client</strong>
           </th>
           <th>
              <strong>Product</strong>
           </th>
           <th>
              <strong>Quantity</strong>
           </th>
           <th>
              <strong>Price</strong>
           </th>
           <th>
              <strong>Purchased On</strong>
           </th>
           <th class="text-center">
              <strong>Belongs To Order</strong>
           </th>
           <th class="text-center">
              <strong>Actions</strong>
           </th>
         </tr>
      </thead>
      <tbody>
        <% @order_items.each_with_index do |order_item, index| %>
          <tr>
             <td><%= order_item.order.customer.first_name %></td>
             <td><%= order_item.product.name %></td>
             <td><%= order_item.quantity %></td>
             <td><%= order_item.price %></td>
             <td><%= order_item.order.date %></td>
             <td class="text-center">
                <span class="label label-info"><%= order_item.order.code %></span>
             </td>
             <td class="text-center">
                <%= link_to 'Pay', controller: "pays", action: "make_it_paid", id: order_item.id %>
             </td>
          </tr>
        <% end %>
      </tbody>
  </table>
</div>
