<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Bootstrap Admin App + Ruby on Rails">
    <meta name="keywords" content="app, responsive, jquery, bootstrap, dashboard, admin">
    <title>LeGross</title>
    <%= include_gon %>

    <%= stylesheet_link_tag 'base' %>
    <!-- =============== VIEW VENDOR STYLES ===============-->
    <%= stylesheet_link_tag params[:controller] %>

    <!-- =============== APP STYLES ===============-->
    <%= stylesheet_link_tag 'application', media: 'all', id: "maincss" %>

    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="wrapper">
      <!-- top navbar-->
      <header class="topnavbar-wrapper">
         <%= render partial: "layouts/partials/topnavbar_managers" %>
      </header>
      <!-- sidebar-->
      <aside class="aside">
         <%= render partial: "layouts/partials/sidebar_managers" %>
      </aside>
      <!-- offsidebar-->
      <aside class="offsidebar hide">
         <!-- <%= render partial: "layouts/partials/offsidebar" %> -->
      </aside>
      <!-- Main section-->
      <section>
         <!-- Page content-->
         <div class="content-wrapper">
            <% flash.each do |key, value| %>
              <p class="<%= key %>"><%= value %></p>
            <% end %>
            <%= yield %>
         </div>
      </section>
      <!-- Page footer-->
      <footer>
         <%= render partial: "layouts/partials/footer" %>
      </footer>
    </div>
    <!-- =============== VENDOR SCRIPTS ===============-->
    <%= javascript_include_tag 'base' %>
    <!-- =============== VIEW VENDOR SCRIPTS ===============-->
    <%= javascript_include_tag params[:controller] %>
    <!-- =============== APP SCRIPTS ===============-->
    <%= javascript_include_tag 'application' %>

    <% if controller?('orders') && action?('new') %>
      <%= javascript_include_tag 'custom/orders/create_new_orders' %>
    <% end %>

    <% if controller?('imports') && action?('new') %>
      <%= javascript_include_tag 'custom/imports/create_new_imports' %>
    <% end %>

    <%= yield :body_area %>
  </body>
</html>
